body {
    background-image: url('https://w0.peakpx.com/wallpaper/453/840/HD-wallpaper-bikini-anime-girl-swimsuit-girl-anime-summer-bikini-black-hair.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}